# Going From Staregies A&B To A Portfolio

So far, I have implemented two startegies using momentum and news analytics on Quantopian along with their backtests. The universe of assets is considered to be Q1500US - the 1500 most liquid equities in the US stock exchange. In this notebook I will attempt to take the best performing equities from those startegies for my portfolio and size them appropriately

## Background Work

In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
from matplotlib import pyplot as plt
from IPython.display import display

pd.options.display.max_rows = 5

### Defining All Equities

In [2]:
equities_strategyA = [
    'ARNC',
    'ABT',
    'ADSK',
    'ADBE',
    'ADI',
    'AEP',
    'AES',
    'AFL',
    'AMD',
    'ADP'
]

equities_strategyB = [
    'ENDP',
    'MDCO',
    'WW',
    'STMP',
    'INFN',
    'SEMG',
    'MIK',
    'RETA',
    'CLDR',
    'HOME',
]

### Querying Data From Yahoo Finance

In [14]:
end = datetime.now().strftime("%Y-%m-%d")
start = datetime.now() - relativedelta(years=1)


data_strategyA = yf.download(equities_strategyA,
                             start,
                             end)['Close'].ffill()
data_strategyB = yf.download(equities_strategyB,
                             start,
                             end)['Close'].ffill()

print("\nFields:", data_strategyA.columns.get_level_values(0).unique())

display(data_strategyA)
display(data_strategyB)

data_strategyA.plot(figsize=(15,5)); plt.grid(); plt.title('StrategyA')
data_strategyB.plot(figsize=(15,5)); plt.grid(); plt.title('StrategyB')

[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  10 of 10 completed

Fields: Index(['ABT', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEP', 'AES', 'AFL', 'AMD',
       'ARNC'],
      dtype='object')

,ABT,ADBE,ADI,ADP,ADSK,AEP,AES,AFL,AMD,ARNC
Date,,,,,,,,,,
2018-12-17,69.750000,221.380005,87.309998,132.470001,127.269997,77.330002,14.88,44.320000,18.830000,19.150000
2018-12-18,70.080002,226.179993,88.050003,130.000000,130.580002,77.260002,14.98,44.540001,19.500000,18.700001
...,...,...,...,...,...,...,...,...,...,...
2019-12-12,85.970001,305.959991,117.809998,167.160004,177.899994,91.139999,18.93,53.900002,42.590000,31.620001
2019-12-13,86.349998,317.940002,118.769997,168.259995,179.410004,92.050003,18.92,53.169998,41.150002,31.650000

,CLDR,ENDP,HOME,INFN,MDCO,MIK,RETA,SEMG,STMP,WW
Date,,,,,,,,,,
2018-12-17,11.36,9.44,18.60,4.02,18.000000,14.04,56.950001,15.69,152.610001,45.330002
2018-12-18,11.66,9.19,18.32,3.88,18.690001,14.05,55.040001,15.37,151.500000,44.400002
...,...,...,...,...,...,...,...,...,...,...
2019-12-12,10.96,4.70,6.39,6.60,84.029999,6.97,201.050003,15.02,85.040001,37.980000
2019-12-13,11.04,4.63,5.69,6.95,84.220001,6.42,206.750000,15.02,83.139999,37.959999

### Volatility Calculation

In [15]:
volatilityA = data_strategyA.rolling(22).std().dropna(how='all')
volatilityB = data_strategyB.rolling(22).std().dropna(how='all')

display(volatilityA)
display(volatilityB)

volatilityA.plot(figsize=(15,5)); plt.grid(); plt.title('StrategyA')
volatilityB.plot(figsize=(15,5)); plt.grid(); plt.title('StrategyB')

,ABT,ADBE,ADI,ADP,ADSK,AEP,AES,AFL,AMD,ARNC
Date,,,,,,,,,,
2019-01-17,1.543182,10.317037,2.671860,2.679122,5.591587,1.513680,0.490439,1.174583,1.299401,1.280817
2019-01-18,1.612225,11.058049,2.931692,2.850390,6.098827,1.439537,0.517923,1.297179,1.356199,1.333034
...,...,...,...,...,...,...,...,...,...,...
2019-12-12,0.689495,4.996561,2.268489,1.540435,8.026163,1.029186,0.268743,0.854104,1.207391,0.521547
2019-12-13,0.769840,5.522904,2.570901,1.408507,7.678979,0.879464,0.232337,0.859178,1.107244,0.477139

,CLDR,ENDP,HOME,INFN,MDCO,MIK,RETA,SEMG,STMP,WW
Date,,,,,,,,,,
2019-01-17,0.527305,0.928048,1.792384,0.223217,0.844590,1.200692,9.613341,1.417259,10.037330,4.019281
2019-01-18,0.623765,0.940631,1.834655,0.225379,0.854172,1.247298,10.122573,1.469108,10.599144,3.767594
...,...,...,...,...,...,...,...,...,...,...
2019-12-12,0.862042,0.321711,1.226456,0.321072,12.924982,0.845037,7.012557,0.238213,2.175540,2.971145
2019-12-13,0.870952,0.298790,1.290216,0.274097,12.174570,0.829653,5.764395,0.217883,2.239942,2.734610

### Getting Asset Correlation (from Close Price)

In [16]:
corrA = data_strategyA.corr()
corrB = data_strategyB.corr()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(corrA)
    display(corrB)

,ABT,ADBE,ADI,ADP,ADSK,AEP,AES,AFL,AMD,ARNC
ABT,1.000000,0.898450,0.833748,0.884605,0.439871,0.873646,0.341031,0.840260,0.846251,0.787814
ADBE,0.898450,1.000000,0.843756,0.905801,0.702948,0.786123,0.460377,0.870971,0.879860,0.768431
ADI,0.833748,0.843756,1.000000,0.843280,0.666283,0.723216,0.538220,0.711390,0.727375,0.593455
ADP,0.884605,0.905801,0.843280,1.000000,0.647193,0.854461,0.443615,0.820671,0.851099,0.714171
ADSK,0.439871,0.702948,0.666283,0.647193,1.000000,0.335039,0.698925,0.573732,0.541427,0.291104
AEP,0.873646,0.786123,0.723216,0.854461,0.335039,1.000000,0.225689,0.824716,0.827727,0.846871
AES,0.341031,0.460377,0.538220,0.443615,0.698925,0.225689,1.000000,0.401223,0.493746,0.252979
AFL,0.840260,0.870971,0.711390,0.820671,0.573732,0.824716,0.401223,1.000000,0.820977,0.753989
AMD,0.846251,0.879860,0.727375,0.851099,0.541427,0.827727,0.493746,0.820977,1.000000,0.917005
ARNC,0.787814,0.768431,0.593455,0.714171,0.291104,0.846871,0.252979,0.753989,0.917005,1.000000

,CLDR,ENDP,HOME,INFN,MDCO,MIK,RETA,SEMG,STMP,WW
CLDR,1.000000,0.869779,0.843443,0.318388,-0.306971,0.786693,-0.056647,0.618197,0.699765,0.103873
ENDP,0.869779,1.000000,0.915107,-0.057345,-0.577839,0.902714,-0.257635,0.551492,0.714291,-0.124569
HOME,0.843443,0.915107,1.000000,-0.134182,-0.624357,0.860094,-0.362746,0.445445,0.524433,-0.289895
INFN,0.318388,-0.057345,-0.134182,1.000000,0.606350,-0.087714,0.618809,0.375241,0.242662,0.637877
MDCO,-0.306971,-0.577839,-0.624357,0.606350,1.000000,-0.614599,0.813914,0.046029,-0.344582,0.482319
MIK,0.786693,0.902714,0.860094,-0.087714,-0.614599,1.000000,-0.318399,0.631683,0.719070,-0.023904
RETA,-0.056647,-0.257635,-0.362746,0.618809,0.813914,-0.318399,1.000000,0.296707,-0.114363,0.425624
SEMG,0.618197,0.551492,0.445445,0.375241,0.046029,0.631683,0.296707,1.000000,0.567209,0.362041
STMP,0.699765,0.714291,0.524433,0.242662,-0.344582,0.719070,-0.114363,0.567209,1.000000,0.440836
WW,0.103873,-0.124569,-0.289895,0.637877,0.482319,-0.023904,0.425624,0.362041,0.440836,1.000000

## Using Calculations Above For Position Sizing

### Startegy A

In [17]:
volatilityMeanAdjusted = volatilityA.mean()/data_strategyA.mean()
volatilityMeanAdjusted = (volatilityMeanAdjusted)/volatilityMeanAdjusted.sum()


corrAdjusted = corrA.sum(axis=1) - 1
corrAdjusted = (corrAdjusted-corrAdjusted.min())/corrAdjusted.sum()

position_weightsA = 1/(volatilityMeanAdjusted+corrAdjusted)
position_weightsA = position_weightsA/position_weightsA.sum()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(position_weightsA*100)

ABT     10.876598
ADBE     9.059527
ADI      7.922161
ADP     10.696303
ADSK     8.715226
AEP     13.861734
AES     13.129717
AFL     11.835781
AMD      5.531958
ARNC     8.370994
dtype: float64


### Streategy B

In [18]:
volatilityMeanAdjusted = volatilityB.mean()/data_strategyB.mean()
volatilityMeanAdjusted = (volatilityMeanAdjusted)/volatilityMeanAdjusted.sum()


corrAdjusted = corrB.sum(axis=1) - 1
corrAdjusted = (corrAdjusted-corrAdjusted.min())/corrAdjusted.sum()

position_weightsB = 1/(volatilityMeanAdjusted+corrAdjusted)
position_weightsB = position_weightsB/position_weightsB.sum()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(position_weightsB*100)

CLDR     7.311814
ENDP     7.598718
HOME     8.513386
INFN     9.512960
MDCO    23.372181
MIK      8.358568
RETA    11.405266
SEMG     7.573268
STMP     6.493998
WW       9.859841
dtype: float64

## Allocating Risk Based On Weights Calulated

So far we have weights (that sum up to 1) for each strategy. How do we decide how much capital to put into each strategy? Here I will allocate 1/2 of the risk into each strategy and size the entire portfolio accordingly. I will be working with the assumption that the max drawdown for both the strategies combined is 10M. Based on a 50% risk allocation, this will mean I need to size each strategy's positions such the drawdown for the strategy does not exceed 5M.

### Strategy A

In [19]:
df_A = pd.concat([data_strategyA.iloc[-1, :], position_weightsA, volatilityA.mean()],
          axis=1)
df_A.columns = ['Price Today', 'Weight', 'Avg Volatility']
df_A['-2std'] = -2 * df_A['Avg Volatility']
df_A['Risk'] = 5e5 * df_A['Weight']
df_A['Shares'] = -(df_A['Risk']/df_A['-2std']).round()
df_A['Value Today'] = df_A['Shares'] * df_A['Price Today']

print('Total Dollars Invested Today: ', df_A['Value Today'].sum())


with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df_A)

Total Dollars Invested Today:  12645644.310619354

,Price Today,Weight,Avg Volatility,-2std,Risk,Shares,Value Today
ABT,86.349998,0.108766,1.525861,-3.051722,54382.992223,17820.0,1.538757e+06
ADBE,317.940002,0.090595,6.556589,-13.113178,45297.633639,3454.0,1.098165e+06
ADI,118.769997,0.079222,3.440734,-6.881468,39610.806399,5756.0,6.836401e+05
ADP,168.259995,0.106963,2.957275,-5.914550,53481.515593,9042.0,1.521407e+06
ADSK,179.410004,0.087152,5.470845,-10.941690,43576.129073,3983.0,7.145900e+05
AEP,92.050003,0.138617,1.233545,-2.467089,69308.670650,28093.0,2.585961e+06
AES,18.920000,0.131297,0.438015,-0.876031,65648.585732,74939.0,1.417846e+06
AFL,53.169998,0.118358,0.874086,-1.748172,59178.906113,33852.0,1.799911e+06
AMD,41.150002,0.055320,1.411554,-2.823108,27659.789341,9798.0,4.031877e+05
ARNC,31.650000,0.083710,0.750814,-1.501628,41854.971238,27873.0,8.821804e+05

### Strategy B

In [20]:
df_B = pd.concat([data_strategyB.iloc[-1, :], position_weightsB, volatilityB.mean()],
          axis=1)
df_B.columns = ['Price Today', 'Weight', 'Avg Volatility']
df_B['-2std'] = -2 * df_B['Avg Volatility']
df_B['Risk'] = 5e5 * df_B['Weight']
df_B['Shares'] = -(df_B['Risk']/df_B['-2std']).round()
df_B['Value Today'] = df_B['Shares'] * df_B['Price Today']

print('Total Dollars Invested Today: ', df_B['Value Today'].sum())


with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df_B)

Total Dollars Invested Today:  4906747.957358837

,Price Today,Weight,Avg Volatility,-2std,Risk,Shares,Value Today
CLDR,11.040000,0.073118,0.649503,-1.299007,36559.068281,28144.0,3.107098e+05
ENDP,4.630000,0.075987,0.535239,-1.070477,37993.587770,35492.0,1.643280e+05
HOME,5.690000,0.085134,1.310959,-2.621917,42566.930597,16235.0,9.237715e+04
INFN,6.950000,0.095130,0.287792,-0.575585,47564.800552,82637.0,5.743271e+05
MDCO,84.220001,0.233722,2.490323,-4.980646,116860.906540,23463.0,1.976054e+06
MIK,6.420000,0.083586,0.763366,-1.526732,41792.840240,27374.0,1.757411e+05
RETA,206.750000,0.114053,8.604600,-17.209200,57026.327616,3314.0,6.851695e+05
SEMG,15.020000,0.075733,0.841725,-1.683450,37866.341116,22493.0,3.378449e+05
STMP,83.139999,0.064940,9.392091,-18.784182,32469.991826,1729.0,1.437491e+05
WW,37.959999,0.098598,2.095842,-4.191684,49299.205461,11761.0,4.464475e+05

## Portfolio (Optimized)

In [21]:
portfolio = pd.concat([df_A[['Price Today', 'Shares', 'Value Today']], 
         df_B[['Price Today', 'Shares', 'Value Today']]],
         axis=0)
portfolio.columns = ['Price Today', 'Optimal Shares', 'Value Today']

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(portfolio)

      Price Today  Optimal Shares   Value Today
ABT     86.349998         17820.0  1.538757e+06
ADBE   317.940002          3454.0  1.098165e+06
ADI    118.769997          5756.0  6.836401e+05
ADP    168.259995          9042.0  1.521407e+06
ADSK   179.410004          3983.0  7.145900e+05
AEP     92.050003         28093.0  2.585961e+06
AES     18.920000         74939.0  1.417846e+06
AFL     53.169998         33852.0  1.799911e+06
AMD     41.150002          9798.0  4.031877e+05
ARNC    31.650000         27873.0  8.821804e+05
CLDR    11.040000         28144.0  3.107098e+05
ENDP     4.630000         35492.0  1.643280e+05
HOME     5.690000         16235.0  9.237715e+04
INFN     6.950000         82637.0  5.743271e+05
MDCO    84.220001         23463.0  1.976054e+06
MIK      6.420000         27374.0  1.757411e+05
RETA   206.750000          3314.0  6.851695e+05
SEMG    15.020000         22493.0  3.378449e+05
STMP    83.139999          1729.0  1.437491e+05
WW      37.959999         11761.0  4.464475e+05

In [22]:
portfolio['Value Today'].sum()/1e6
portfolio.to_pickle('Optimal Portfolio.pkl')

## What About the Current Holdings?

At this point we have determined optimal position sizes based on the risk allocation from weights above. However, at the time, I have already submitted multiple trades. In this section I will investigate wheather the worst case, for the current risk allocation, takes me less than 1M.

In [23]:
current_B = pd.DataFrame([95480,
8700,
12880,
5400,
79540,
27880,
52900,
2180,
52840,
51780],
                        index = equities_strategyB,
                        columns = ['Shares Holding'])

current_A = pd.DataFrame([15860,
6160,
2520,
2720,
3620,
3620,
21800,
6760,
14840,
2600], 
                        index = equities_strategyA,
                        columns = ['Shares Holding'])

current_A['Risk'] = df_A['-2std']*current_A['Shares Holding']
current_B['Risk'] = df_B['-2std']*current_B['Shares Holding']

In [24]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(current_A)
    display(current_B)
    
print('Worst Case Drawdown:', current_A['Risk'].sum() + current_B['Risk'].sum())

      Shares Holding          Risk
ARNC           15860 -23815.817833
ABT             6160 -18798.606033
ADSK            2520 -27573.057712
ADBE            2720 -35667.843907
ADI             3620 -24910.915837
AEP             3620  -8930.862649
AES            21800 -19097.467414
AFL             6760 -11817.644228
AMD            14840 -41894.928824
ADP             2600 -15377.830932

      Shares Holding           Risk
ENDP           95480 -102209.172493
MDCO            8700  -43331.617018
WW             12880  -53988.885776
STMP            5400 -101434.582236
INFN           79540  -45782.011332
SEMG           27880  -46934.595727
MIK            52900  -80764.145940
RETA            2180  -37516.057042
CLDR           52840  -68639.525471
HOME           51780 -135762.866679

Worst Case Drawdown: -944248.4350846604

I'm barely meeting the criteria - I have my current (suboptimally weighted) portfolio structure such that the worst case drawdown is less than -1M. So for now I will keep my positions.

In [25]:
pd.concat([current_A, current_B], axis=0).to_pickle('Current Portfolio.pkl')